<div class="leftSidebar">
    <ul class="colorList">
        <li>Red</li>
        <li>Blue</li>
        <li>Black</li>
    </ul>
    <div class="location">
        <p>Location, <span>Woking, Reino Unido</span></p>
        <img src="/earth.png" alt="earth">
    </div>
</div>