<div class="rightSidebar">
    <div class="modelAuth">
        <div class="authInfo">
            <p>Model By</p>
            <h2><a href="https://sketchfab.com/Alex.Ka." target="_blank">ᗩᒪE᙭. Kᗩ.</a></h2>
        </div>
        <img src="/auth.jpeg" alt="auth">
    </div>
    <div class="card card--motor">
        <h2>Motor</h2>
        <img src="/speed.png" alt="speed">
    </div>
    <div class="card card--datas">
        <p>600 CV</p>
        <p>V8 biturbo de 3799 cm³.</p>
    </div>
    <div class="card card--limit">
        <p>330<span style="font-size: 1.5rem;">km/h</span></p>
        <img src="/circle.webp" alt="circle">
    </div>
</div>