@import './variables.css';

nav {
    position: fixed;
    top: 30px;
    left: 0;
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
        display: flex;
        gap: 32px;

        li {
            list-style: none;
            padding: 16px 20px;
            font-size: 1.2rem;
            background: var(--back-cards);
            color: var(--text-primary);
            cursor: pointer;
            border-radius: 12px;
            transition: all .2s;

            &:hover {
                box-shadow: inset 0 0 15px var(--shadow-inset-button);
            }
        }
    }
}

.logoContainer {
    position: fixed;
    left: 3vw;
    top: -60px;
    z-index: 10;
    width: 250px;

    img {
        width: 100%;
        object-fit: cover;
        filter: drop-shadow(0 0 2px var(--shadow-logo));
    }
}