@import './variables.css';
@import './navbar.css';
@import './leftsidebar.css';
@import './rightsidebar.css';
@import './footer.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: var(--back-scene);
}