---
// src/pages/index.astro
import Banner from '../components/index/Banner.astro';
import Footer from '../components/common/Footer.astro';
import '../styles/styles.css'
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Porsche</title>
    <meta name="description" content="Irracionalmente Perfecto." />
  </head>
  <body>
    <Banner />
    <Footer />
  </body>
</html>