---
// src/pages/index.astro
import Banner from '../components/Banner.astro';
import '../styles/styles.css'
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Porsche</title>
    <meta name="description" content="Irracionalmente Perfecto." />
  </head>
  <body>
    <Banner />
  </body>
</html>