---
import ThreeCanvas from './3DModel/ThreeCanvas.jsx';
import Leftsidebar from './LeftSidebar/Leftsidebar.astro';
import Navbar from './Navbar/Navbar.astro';
import Footer from './Footer/Footer.astro';
import Rightsidebar from './Rightsidebar/Rightsidebar.astro';
---

<section style="width: 100%; height: 100vh; position: fixed; overflow: hidden;">
  <ThreeCanvas client:load />
  <Navbar />
  <Leftsidebar />
  <Rightsidebar />
  <Footer />
</section>