---
---

<footer style="
  text-align: center;
  padding: 2rem;
  font-size: 0.9rem;
  background-color: #111;
  color: #aaa;
  margin-top: 4rem;
  position: fixed;
  bottom: 0;
  width: 100vw;
">
 <p> © 2025 Porsche. 3D Model practice.</p>
</footer>