---
import ThreeCanvas from '../3DModel/ThreeCanvas.jsx';
---

<section style="width: 100%; height: 100vh; position: fixed; overflow: hidden;">
  <ThreeCanvas client:load />
  <div style="
    position: absolute;
    top: 20%;
    left: 40%;
    transform: translate(-50%);
    color: white;
    z-index: 10;
  ">
    <h1 style="font-size: 3rem;">Irracionalmente Perfecto.</h1>
    <p style="font-size: 1.2rem;">Una vehículo de extrema precisión apropiado para su uso en circuito. Un concepto de motor central muy ágil. Motor atmosférico de 6 cilindros con cilindrada de 4 l y 500 CV (368 kW). Un concepto de motor de alto régimen, que permite alcanzar la marca de 9.000 sin ninguna dificultad. ¿Racional? No siempre. ¿Perfecto? En cada instante.</p>
  </div>
  <div>
    <h2>Su corazón late en el centro. Y usted puede escucharlo.</h2>
    <p>Flacht. Cuna y hogar de los vehículos de carreras Porsche. El motor del 718 Cayman GT4 RS también se originó aquí. Desarrollado, probado y mejorado para esa décima de segundo que puede ser decisiva en el circuito.</p>
  </div>
</section>